body{
    max-width: 1440px;
    margin: auto;
}

.header{
    width: 100%;
    margin-top:30px;
}

.header__text{
    font-weight: 900;
    font-size: 20px;
    line-height: 23px;
}

.header__box{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    box-shadow: 0px 4px 0px rgba(0, 0, 0, 0.24), 0px 0px 0px rgba(0, 0, 0, 0.12);
}

.header__box img[alt="menu"]{
    margin:0 35px 0 19px;
}

.header__box img[alt="menu2"]{
    margin-right:20px;
}

.header__box-item{
    display: flex;
    align-items: center;
}

main{
    width: 100%;
}

.main__items{
    width: 228px;
    height: 246px;
    margin-top:79px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.24), 0px 0px 4px rgba(0, 0, 0, 0.12);
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

.main__items span{
    font-size: 16px;
    line-height: 24px;
    color: rgba(0, 0, 0, 0.5);
}

.main__colors{
    width: 228px;
    height: 246px;
    margin-top:92px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.24), 0px 0px 4px rgba(0, 0, 0, 0.12);
}

.main__colors span{
    font-size: 16px;
    line-height: 24px;
    color: rgba(0, 0, 0, 0.541327);
}

.main__items-box{
    display: flex;
    align-items: center;
}

.main__items-box img[alt=fill]{
    margin:0 35px 0 20px;
}

.main__items-box img[alt=color]{
    margin:0 35px 0 18px;
}

.main__items-box img[alt=pencil]{
    margin:0 35px 0 18px;
}

.main__items-box img[alt=transform]{
    margin:0 35px 0 18px;
}

.border{
    border-top: 1px solid black;
}

.circle-current{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #FFC107;
    border: 1px solid #000000;
    margin: 0 18px 0 18px;
}

input[type="color"]{
    margin-left: 25px;
    border: 0;
    width: 25px;
    height: 25px;
    padding: 0;
    outline: 0;
    background:none;
}

.circle-prev{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #FFEB3B;
    border: 1px solid #000000;
    margin: 0 18px 0 18px;
}

.circle-blue{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #0088ff;
    border: 1px solid #000000;
    margin: 0 18px 0 18px;
}

.circle-red{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #F74141;
    border: 1px solid #000000;
    margin: 0 18px 0 18px;
}

.main__colors-box{
    display: flex;
    align-items: center;
    padding-top:25px;
}

.main__colors div:nth-child(2){
    padding-bottom: 25px;
    border-bottom:1px solid rgba(0, 0, 0, 0.12);
}

.main__box{
    display: flex;
    justify-content: space-between;
}

.main__box-item{
    margin-left:29px ;
}

.main__canvas{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin-right: 90px;
}

canvas{
    background: lightgrey;
}

#pencil:hover, #chooseColor:hover, #paintBucket:hover{
    cursor: pointer;
    background: lightgray;
}

.active{
    background: lightskyblue;
}

.main__colors div:hover{
    cursor: pointer;
}

#transform{
    opacity: 0.4;
}